
.img1{
    width: 400px;
    height: 400px;
    margin-right: 100px;
}
.fen{
    display: flex;
    flex-direction: row;
    background-color: #0E0F19 ;
}
.bor{
    background-color: #0E0F19 ;
}
.in{
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    margin-left: -20px;
}
.sec{
    display: flex;
    flex-direction: row;
}
.ms{
    margin-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tex{
    font-size: 14;
}
.ti{
    font-size: 30px;
    font-weight: 500;
}
.section4{
    background-color: rgba(39, 69, 28, 0.479);
}
.section5{
    background-color: #0E0F19 ;

}
.li{
    font-size: 100px;
    font-weight: 1000;

}
.paragra{
    font-size: 12px;
}
.tab{
    border-bottom: 1px solid yellow;
}
.tab1{
    border-right: 1px solid yellow;
}
.tab2{
    border-right: 1px solid yellow;
}
.tab3{
    border-right: 1px solid yellow;
}
.tab4{
    border-right: 1px solid yellow;
}
@media only  screen and (max-width: 800px) {
    .tab{
        border: none;
    }
    .tab1{
        border: none;
    }
    .tab2{
        border: none;
    }
    .tab3{
        border: none;
    }
    .tab4{
        border: none;
    }

}
.sec-itm{
    transition: 0.4s;
}
.sec-itm:hover{
    background-color: rgb(146, 146, 26);
}
.sec-main{
    background-color: rgb(14, 14, 78);
}
.form1{
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
}
.form2{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 8px;
    width: 90%;

}
/* .menu:hover{
    color: rgb(201, 201, 107);
    background-color: wheat ;
} */